## About Dataset
This data set consists of the marks secured by the students in various subjects.

Example Research Questions:

How effective is the test preparation course? <br>
Which major factors contribute to test outcomes?<br>
What would be the best way to improve student scores on each test?<br>
What patterns and interactions in the data can you find? <br>

In [3]:
import pandas as pd
import numpy as np
import seaborn as sns

In [4]:
df = pd.read_csv('Data/exams.csv')

#### 1. Understanding the dataset

In [6]:
df.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,male,group A,high school,standard,completed,67,67,63
1,female,group D,some high school,free/reduced,none,40,59,55
2,male,group E,some college,free/reduced,none,59,60,50
3,male,group B,high school,standard,none,77,78,68
4,male,group E,associate's degree,standard,completed,78,73,68

In [8]:
df.tail()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
995,male,group C,high school,standard,none,73,70,65
996,male,group D,associate's degree,free/reduced,completed,85,91,92
997,female,group C,some high school,free/reduced,none,32,35,41
998,female,group C,some college,standard,none,73,74,82
999,male,group A,some college,standard,completed,65,60,62

In [9]:
df.shape

(1000, 8)

There are 1000 observations (rows) and 8 characteristics( columns)

In [12]:
#check the columns in the dataset
df.columns

Index(['gender', 'race/ethnicity', 'parental level of education', 'lunch',
       'test preparation course', 'math score', 'reading score',
       'writing score'],
      dtype='object')

In [11]:
#Check the statistical characterisitic of the numerical variables
df.describe().transpose()

                count    mean        std   min   25%   50%   75%    max
math score     1000.0  66.396  15.402871  13.0  56.0  66.5  77.0  100.0
reading score  1000.0  69.002  14.737272  27.0  60.0  70.0  79.0  100.0
writing score  1000.0  67.738  15.600985  23.0  58.0  68.0  79.0  100.0

In [16]:
#Check for the unique values
df.nunique()

gender                          2
race/ethnicity                  5
parental level of education     6
lunch                           2
test preparation course         2
math score                     77
reading score                  73
writing score                  76
dtype: int64

In [18]:
#To check for distinct values in a specific column:
df['gender'].nunique()

2